* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrapper div {
  background-color: blueviolet;
  color: white;
  margin: 2px;
  text-align: center;
  font-size: 1.5rem;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}
